@import "tailwindcss";

/* In your global CSS file */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --background: #fbf5fe;
  --primary: #aa7d77;
  --forecolor: #0a1b39;
  --dimmedforecolor: #cacaca;
  --foreground: #637381;
  --white: #ffffff;
  --sidebarcolor: #f2f3f6;
  --navbarbg: #f9fafb;
  --totalUserFg: #2646a7;
  --totalUserBg: #98b1fb3a;
  --activeUserFg: #1fa04e;
  --activeUserBg: #90faa285;
  --totalRevenuFg: #f1aa2f;
  --totalRevenuBg: #fedea58f;
  --premiumUserFg: #f1aa2f;
  --premiumUserBg: #fedea58f;
  --newUserFg: #2e82c2;
  --newUserBg: #9bd2fd77;
  --titleFg: #212b36;
}

.dark {
  --background: #222222;
  --primary: #aa7d77;
  --forecolor: #ffffff;
  --dimmedforecolor: #ffffff;
  --foreground: #cccccc;
  --white: #333333;
  --sidebarcolor: #2d2d2d;
  --navbarbg: #333333;
  --totalUserFg: #98b1fb;
  --totalUserBg: #2646a73a;
  --activeUserFg: #90faa2;
  --activeUserBg: #1fa04e85;
  --totalRevenuFg: #fedea5;
  --totalRevenuBg: #f1aa2f8f;
  --premiumUserFg: #fedea5;
  --premiumUserBg: #f1aa2f8f;
  --newUserFg: #9bd2fd;
  --newUserBg: #2e82c277;
  --titleFg: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.main-layout {
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

/* Hide scrollbar but keep the functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* styles/dashboard.module.css */

.dashboard-container {
  display: flex;
  height: 100vh;
}

/* Sidebar style */
.sidebar {
  width: 300px; 
  background-color: var(--sidebarcolor);
  color: white;
  padding: 20px;
}

/* Main content area */
.main-content {
  flex-grow: 1; /* This will make the main content take up the remaining width */
  display: flex;
  flex-direction: column;
}

/* Main content of the page */
.dashboard-main {
  flex-grow: 1;
  padding: 20px 2px;
  overflow-y: auto;
}

/* Component style */
/* Sidebar component */
.sidebar-section {
  background-color: var(--sidebarcolor);
  z-index: 1000;
}

/* NavItem component */
.nav-item {
  color: var(--foreground);
  height: 48px;
  background: transparent;
}

.nav-item:hover {
  background: var(--white);
}

.active-nav-item {
  background: var(--white);
  color: var(--primary);
}

/* ActionButton component */
.action-button {
  background-color: var(--primary);
  color: var(--white);
}

/* Navbar component */
.navbar {
  background-color: var(--navbarbg);
}

/* Common component */
.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.text-white {
  color: var(--white);
}
.text-primary {
  color: var(--primary);
}
.text-foreground {
  color: var(--foreground);
}
.text-dimmed-foreground {
  color: var(--dimmedforecolor);
}
.text-title {
  color: var(--titleFg);
}
.bg-primary {
  background-color: var(--primary);
}
.bg-white {
  background-color: var(--white);
}
.bg-sidebar {
  background-color: var(--sidebarcolor);
}
.bg-navbar {
  background-color: var(--navbarbg);
}